


    <div class="bg-white/70">
        <section class=" flex flex-col items-center justify-center text-center mb-10">
            <img src="assets/wilderbeasts.png" alt="wilderbeasts"
                class="relative opacity-70 w-full h-screen object-cover">
            <div class="absolute">
                <h1 class="text-6xl font-bold text-green-700 tracking-wide">Welcome to Safar<span
                        class="text-orange-500">ii</span></h1>
                <p class="text-2xl font-bold text-gray-700 p-10 tracking-tight">Experience the wild beauty of Kenya
                    while supporting eco-friendly accommodations</p>
                <div class="text-2xl">
                    <a href="#parks">
                        <button
                            class="rounded-md bg-orange-600 px-5 py-2.5 text-lg font-bold text-white shadow-sm hover:bg-orange-700 tracking-wider">
                            Explore Parks</button>
                    </a>
                    <button
                        class="rounded-md bg-white px-5 py-2.5 text-lg font-bold text-orange-600 hover:text-orange-500 hover:bg-white/85 tracking-wider">
                        Learn More</button>
                </div>
            </div>
        </section>

        <section>
            <div class="text-center max-w-2xl mx-auto">
                <div class="w-24 h-1 bg-orange-600 rounded-full mx-auto m-16"></div>
                <h2 class="text-3xl font-black text-gray-700 mt-4 tracking-wide m-8">Discover Kenya's Top National Parks
                </h2>
                <p class="text-gray-500 w-4/5 mx-auto">Experience the beauty of Kenya's wildlife and natural wonders.
                    Choose from our selection of world-renowned national parks and reserves.</p>
            </div>

            <div class="max-w-[85%] mx-auto mb-8">
                <div class="w-24 h-1 bg-green-600 rounded-full mx-auto m-16"></div>
                <div id="cardContainer" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-10 px-4">
                
                    <!-- National park cards -->
                </div>
            </div>
        </section>


        <section class="bg-green-700 text-center items-center p-16 text-white my-16">
            <h3 class="text-3xl font-bold tracking-wide mb-4">Experience the Wild Beauty of Kenya</h3>
            <p class="text-white/75 text-lg ">Discover Kenya's protected natural heritage and contribute to conservation
                efforts</p>
        </section>
    </div>
